/*html
  height: 100%//90%
  //min-height: 100 !important
  //overflow: hidden
/*body
  //margin-top: 100px
  font-family: 'Trebuchet MS', serif
  line-height: 1.6
  height: 100%
  //overflow: hidden

/*.avatar-app
  height: 100% //100%
  padding: 5%

//Odd but trendy color palette: http://www.colourlovers.com/palette/132637/Odd_but_trendy
$light-sky-blue: #E0EFF1
$dark-sky-blue: #7DB4B5
$white: #FFF
$purple-without-brown: #680148
$black: #000

//Nom-de-plume color palette: http://www.colourlovers.com/palette/113174/Nom-de-plume
$tan-mustard: #D8C358
$snow-cherry: #6D0839
$never-meant-to-do: #D0E799
$edge-of-delusion: #25271E
$barely-pink: #FBEFF4

.pixelated
  image-rendering: -moz-crisp-edges
  image-rendering: -o-crisp-edges
  image-rendering: -webkit-optimize-contrast
  -ms-interpolation-mode: nearest-neighbor
  image-rendering: pixelated

.avatar-picture
  @extend .pixelated
  float: right
  left: 25%
  position: absolute
  width: 96
  height: auto

  .hide
    visibility: hidden

/*.container
  width: 100% //800px
  margin: 0 auto
  text-align: left
  height: inherit
  position: absolute

/*ul.tabs
  margin: 0px
  padding: 0px
  list-style: none

  li
    background: none
    color: #222
    display: inline-block
    padding: .5% 1% //10px 15px
    cursor: pointer

  li.current
    background: #ededed
    color: #222

/*.tab-content
  display: none
  background: #ededed
  padding: 1% //15px
  height: 99%

/*.tab-content.current
  display: inherit

/*.center-layout
  text-align: center
  padding: 1% auto //1%
  height: 100%
  display: block
  position: absolute
